<main>
  <div class="header-busplans">
    <h1>Üzleti mobilszolgáltatás</h1>
  </div>
  <div class="cards">
    <div class="card-container" *ngFor="let plan of businessPlans">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{plan.name | textUpperCase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{plan.freeminutesathomeandeu == "infinite" ? "Végtelen" : plan.freeminutesathomeandeu }}
            ingyen perc belföldön
            és az EU/1.díjzónában
          </p>
          <p>
            {{plan.freeminutesoutsidehomeandeu == "0" ? "" : plan.freeminutesoutsidehomeandeu + " ingyen perc EU-n kívül" }}
          </p>
          <p>
            {{plan.unlimiteddataathome == "true" ? "Korlátlan internet belföldön" : "" }}
          </p>
          <p>
            {{plan.unlimiteddataoutsidehome == "true" ? "Korlátlan internet külföldön" : "" }}
          </p>
          <p>
            Ár: {{(plan.price.toString()) | monetext}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="buyPlan(plan.fn)" mat-button>Vásárlás</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
