main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: lightsteelblue;
  justify-content: center;
}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.col{
  min-width: 350px;
}
.profileform{
  min-width: 350px;
  width: 50%;
}
