<main>
  <div class="header-home">
    <button (click)="literallybraindeadbutton()"><h1>MeowTeleco</h1></button>
  </div>
  <div class="content">
    <p class="wtext">
      Üdvözöljük a Meow Telecom digitális világában! Cégünk 2010-ben alakult azzal a küldetéssel, hogy forradalmasítsuk a távközlési szolgáltatásokat, és zökkenőmentes kapcsolatot teremtsünk az emberek, vállalkozások és az okos eszközök között.
    </p>

    <button routerLink="/residental/">Tekintse meg a csomagjainkat!</button>
  </div>
</main>
