main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: lightsteelblue;
  justify-content: center;
}

.logout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
